<!DOCTYPE html> 
<html> 
	<head>
  <meta charset="UTF-8">	
	<title>Study Finder</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"> 
	<link rel="stylesheet" href="css/jquery.mobile.structure-1.0.1.css" />
	<link rel="apple-touch-icon" href="images/launch_icon_57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/launch_icon_72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/launch_icon_114.png" />
	<link rel="stylesheet" href="css/jquery.mobile-1.0.1.css" />
	<link rel="stylesheet" href="css/custom.css" />
	<script src="js/jquery-1.7.1.min.js"></script>
	<script src="js/jquery.mobile-1.0.1.min.js"></script>
	<script src="/js/handlebars-v1.3.0.js"></script>
	<!--<script src="/js/custom.js"></script>-->
</head> 

<body> 
<div data-role="page" id="home" data-theme="c">

	<div id="branding">
		<h1 id="indexheader"><center>Study Finder</center></h1>
	</div>
	
	<div data-role="content">
	
	
	
	<div class="choice_list"> 
	<h1> Where would you like to study </h1>
	
	<ul data-role="listview" data-inset="true">
	<li><a href="place/Nearby" data-ajax="false"> <img src="images/Near.jpg"/> <h3> Nearby </h3></a></li>
	<li><a href="place/Libraries" data-ajax="false"> <img src="images/Geisel.jpg"/> <h3> Libraries </h3></a></li>
	<li><a href="place/Revelle" data-ajax="false"> <img src="images/Revelle.jpg"/> <h3> Revelle</h3></a></li>
	<li><a href="place/Muir" data-ajax="false"> <img src="images/Muir.jpg"/> <h3> Muir </h3></a></li>
	<li><a href="place/Marshall" data-ajax="false"> <img src="images/Marshall.jpg"/> <h3> Marshall</h3></a></li>
	<li><a href="place/Warren" data-ajax="false"> <img src="images/Warren.jpg"/> <h3> Warren</h3></a></li>
	<li><a href="place/ERC"  data-ajax="false"> <img src="images/ERC.jpg"/> <h3> ERC</h3></a></li>
	<li><a href="place/Sixth" data-ajax="false"> <img src="images/Sixth.jpg"/> <h3> Sixth </h3></a></li>		
	</ul>	
	
	</div>
	</div>
    <div class="footer">Copyright &copy; 2014 Wai Kit Leung, Luoxiao Li, ‎Melissa Canivel, Mahathee Chetlapalli  All rights reserved. </div>
</div><!-- /page -->

<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48462995-2', 'studyfinder.herokuapp.com');
  //ga('create', 'UA-48462995-2', { 'cookieDomain': 'none' });
  ga('send', 'pageview');
$.mobile.page.prototype.options.domCache = false;
$("div:jqmData(role='page'):last").bind('pageinit', function(){
          //your code here - $.mobile.activePage not declared
});

$("div:jqmData(role='page'):last").bind('pageshow', function(){
      //your code here - $.mobile.activePage works now
});
</script>
</body>
</html>
